.span1, .span7 {
	background-color: #00F;
}
.span2, .span8 {
	background-color: #0F0;
}
.span3, .span9 {
	background-color: #F00;
}
.span4, .span10 {
	background-color: #FF0;
}
.span5, .span11 {
	background-color: #F0F;
}
.span6, .span12 {
	background-color: #0FF;
}
